.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  max-height: 600px;
  overflow-y: auto;
}

.form__couple {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.form__label {
  font-weight: bold;
  font-size: 14px;
}

.form__input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

.form__input--fixed {
  width: 100%;
}

.form__error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.form__capital-buttons {
  display: flex;
  gap: 8px;
}

.form__capital-button {
  padding: 8px;
  border: 1px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  color: #007bff;
  transition: background-color 0.3s;
  flex: 1;
  font-size: 14px;
}

.form__capital-button.selected {
  background-color: #007bff;
  color: white;
}

.form__capital-button:hover {
  background-color: #e6f7ff;
}


.form__buttons {
  display: flex;
  justify-content: center;
}

.form__button {
  margin-top: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  text-align: center;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form__button:hover {
  background-color: #0056b3;
}
