.button {
    width: max-content;
    height: fit-content;
    padding: 0.5rem 1rem;
    background-color: #5a60a3; /* Основной цвет кнопки */
    color: #ffffff; /* Белый цвет текста */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 0.5rem;
    align-self: center; /* Центрирование кнопки */
    font-size: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Добавление тени */

    &:hover {
        background-color: #474f91; /* Тёмно-фиолетовый цвет при наведении */
        box-shadow: 0 6px 10px rgba(71, 79, 145, 0.4);
    }

    &--rounded {
        border-radius: 2rem;
    }

    &--mini {
        padding: 0.4rem 0.8rem;
    }

    &--mini &__label {
        font-size: 0.8rem;
    }

    &__label {
        margin: 0;
    }
}

/* Flexbox для контейнера кнопок */
.button-container {
    display: flex;
    justify-content: center; /* Центрируем кнопки */
    align-items: center;
    gap: 1rem; /* Добавляем отступы между кнопками */
    padding: 20px;
    background: linear-gradient(to bottom, #2b3a67, #5a60a3); /* Градиент фона */
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
